<div class="page-base-nav-container container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index.php">Haven of Code</a>
  </div>
  <div class="collapse navbar-collapse" id="user-nav-collapse">
    {{#id}}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/create_article.php">
            New Article
          </a>
        </li>
        <li>
          <a href="/profile.php?id={{id}}">
            <img class="avatar-nav" src="{{avatar_url}}" alt="login github avatar" />
            {{name}}
          </a>
        </li>
        <li>
          <a href="/logout.php">
            <span class="visible-xs">
              <span class="glyphicon glyphicon-log-out"></span> Logout
            </span>
            <span class="visible-sm visible-md visible-lg">
              <span class="glyphicon glyphicon-log-out"></span>
            </span>
          </a>
        </li>
      </ul>
    {{/id}}
    {{^id}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/oauth_login.php">Login</a></li>
      </ul>
    {{/id}}
  </div>
</div>