<div class="page-base">
  <nav class="page-base-nav">
    <div class="page-base-nav-wrapper">
      <a class="logo" href="index.html">
        <h1>Haven of Code</h1>
      </a>
      <div class="log-in-wrap">
        <a class="fb-login" href="#">Login</a>
      </div>
      <div style="display:none;" class="log-out-wrap">
        <div class="profile-dropdown" href="#">
          <img src="#" />
        </div>
        <a class="fb-logout" href="#">Logout</a>
      </div>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="loading-background">
      <div class="loading-container">
        <h1>
          Loading...
          <img src="static/modules/page-base/img/ajax-loader.gif" />
        </h1>
      </div>
    </div>
    <div class="content-background"></div>
    <div class="content-display">
      <div class="content-display-wrapper">
        hello
      </div>
    </div>
  </div>
</div>