<div class="page-base">
  <div class="content-wrapper">
    <div class="loading-background">
      <div class="loading-container">
        <h1>
          Loading...
          <img src="static/modules/page-base/img/ajax-loader.gif" />
        </h1>
      </div>
    </div>
    <nav class="page-base-nav navbar navbar-default" role="navigation"></nav>
  </div>
    <div class="hide content-display">
      <div class="content-display-wrapper"></div>
    </div>
  </div>
</div>