<div class="article">
  <h1>Whoops!</h1>
  <div class="alert alert-danger">
    <strong>Login Failure!</strong> {{error_description}}. Read more about it <a href="{{error_uri}}">here</a>
  </div>
</div>