<div class="article">
  <div class="article-md"></div>
  <div class="comment-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Comments</h3>
    </div>
    <div class="panel-body">
      <div class="article-comments"></div>
    </div>
  </div>
</div>