<div class="markdown-editor">
  <div class="markdown-editor-wrapper row">
    <div class="markdown-textarea-wrapper col-md-6">
      <div class="form-group">
        <label for="markdown-editor-textarea">Article Markdown</label>
        <textarea id="markdown-editor-textarea" class="form-control markdown-editor-text-area" placeholder="Enter Markdown">{{editor_markdown}}</textarea>
      </div>
    </div>
    <div class="markdown-viewer-wrapper col-md-6">
      <div class="form-group">
        <label for="markdown-viewer-container">Markdown Preview</label>
        <div id="markdown-viewer-container" class="well well-sm markdown-editor-markdown-viewer"></div>
      </div>
    </div>
  </div>
</div>