<div class="article-list">
  {{#title}}
    <h1>{{title}}</h1>
  {{/title}}
  <div class="article-list-items"></div>
  <div class="dh-scroll-loading">Loading</div>
  <div class="dh-scroll-end">End of results</div>
  <div style="display:none" class="zero-results-message">{{no_results_msg}}</div>
</div>